# 1.Manipulate using a list.
i) To add new elements to the end of the list
ii)To reverse elements in the list
iii) To display the same list of elements multiple times
iv) To concatenate two list
v) To sort the elements in the list in ascending order

In [1]:

c = [1, 2, 3, 4, 5]
c

[1, 2, 3, 4, 5]

In [2]:

i)c.append(7)
c

[1, 2, 3, 4, 5, 7]

In [5]:
i)b = [9 , 10, 11 , 12]
c.extend(b)
print("After added - list elements are:\\n, c")

After added - list elements are:\n, c

In [6]:
b = [9 , 10, 11 , 12]
c.extend(b)
print("After added - list elements are :",c)

After added - list elements are : [1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12]

In [7]:
ii)c.reverse()
print("2. list after reversing :",c)

2. list after reversing : [12, 11, 10, 9, 12, 11, 10, 9, 12, 11, 10, 9, 12, 11, 10, 9, 7, 5, 4, 3, 2, 1]

In [8]:
iii)nun_times = 3
result_list = a * nun_times
print("3. List displayed { num_times} times : " , result_list)

NameError: name 'a' is not defined

In [9]:
c

[12, 11, 10, 9, 12, 11, 10, 9, 12, 11, 10, 9, 12, 11, 10, 9, 7, 5, 4, 3, 2, 1]

In [10]:
iii)c = [ 1, 2, 3, 4, 5, 7, 9, 10 , 11, 12 ]


num_times = 3


for _ in range(num_times):
    print(c)

[1, 2, 3, 4, 5, 7, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 7, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 7, 9, 10, 11, 12]

In [11]:
iv)list1 = [1, 2, 3]
list2 = [4, 5, 6]

concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [12]:
v)c.sort()
print("List sorted in ascending order :",c

List sorted in ascending order : [1, 2, 3, 4, 5, 7, 9, 10, 11, 12]

# 2. Write a python program to do in the tuples
i) Manipulate using tuples
ii) To add new elements to the end of the tuples
iii) To reverse elements in the list
iv) To display the elements of the same tuple multiple times
v) To concatenate two tuples
vi) To sort the elements in the list in ascending order

In [13]:
i)tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c', 'd', 'e')

ii)tuple1 = tuple1 + (6,)
tuple2 = tuple2 + ('f',)

iii)reversed_tuple1 = tuple1[::-1]
reversed_tuple2 = tuple2[::-1]

iv)multiplied_tuple1 = tuple1 * 3

v)concatenated_tuple = tuple1 + tuple2

vi)sorted_tuple1 = sorted(tuple1)
sorted_tuple2 = sorted(tuple2)


print(f"Manipulated Tuple 1: {tuple1}")
print(f"Manipulated Tuple 2: {tuple2}")
print(f"Reversed Tuple 1: {reversed_tuple1}")
print(f"Reversed Tuple 2: {reversed_tuple2}")
print(f"Multiplied Tuple 1: {multiplied_tuple1}")
print(f"Concatenated Tuple: {concatenated_tuple}")
print(f"Sorted Tuple 1: {sorted_tuple1}")
print(f"Sorted Tuple 2: {sorted_tuple2}")

Manipulated Tuple 1: (1, 2, 3, 4, 5, 6)
Manipulated Tuple 2: ('a', 'b', 'c', 'd', 'e', 'f')
Reversed Tuple 1: (6, 5, 4, 3, 2, 1)
Reversed Tuple 2: ('f', 'e', 'd', 'c', 'b', 'a')
Multiplied Tuple 1: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
Concatenated Tuple: (1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e', 'f')
Sorted Tuple 1: [1, 2, 3, 4, 5, 6]
Sorted Tuple 2: ['a', 'b', 'c', 'd', 'e', 'f']

# 3. Write a python program to implement the following using list
i)Create a list with integers(minimum 10 numbers)
ii) How to display the last number in the list
iii) Command for displaying the values from the list [0:4]
iv) Command for displaying the values from the list [2:]
v) Command for displaying the values from the list [ :6]

In [14]:
i)my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


ii)last_number = my_list[-1]
print(f"The last number in the list is: {last_number}")

iii)subset_1 = my_list[0:4]
print(f"The values from index 0 to 3 are: {subset_1}")

iv)subset_2 = my_list[2:]
print(f"The values from index 2 to the end are: {subset_2}")

v)subset_3 = my_list[:6]
print(f"The values from the beginning to index 5 are: {subset_3}")

The last number in the list is: 10
The values from index 0 to 3 are: [1, 2, 3, 4]
The values from index 2 to the end are: [3, 4, 5, 6, 7, 8, 9, 10]
The values from the beginning to index 5 are: [1, 2, 3, 4, 5, 6]

# 4 .Write a python program : tuple1=(10, 50, 20, 40 , 30)
i) To display the elements 10 and 50 from tuple 1
ii) To display the length of a tuple 1
iii)To find the minimum element from tuple 1
iv) To add all elements in the tuple 1
v) To display the same tuple 1 multiple times

In [15]:
i)tuple1 = (10, 50, 20, 40, 30)

print("Elements 10 and 50 from tuple 1:", tuple1[0], tuple1[1])

ii)print("Length of tuple 1:", len(tuple1))

iii)min_element = min(tuple1)
print("Minimum element from tuple 1:", min_element)

iv)sum_elements = sum(tuple1)
print("Sum of elements in tuple 1:", sum_elements)

v)num_times = 3  
print(f"Displaying tuple 1 {num_times} times:")
for _ in range(num_times):
    print(tuple1)

Elements 10 and 50 from tuple 1: 10 50
Length of tuple 1: 5
Minimum element from tuple 1: 10
Sum of elements in tuple 1: 150
Displaying tuple 1 3 times:
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5. Write a python program

1. To calculate the length of a string.
2. To reverse words in a string.
3. To display the same string multiple times.
4. To concatenate two strings.
5. str1="South India", Using string slicing to display "India"

In [16]:
i)def calculate_length(string):
    return len(string)


ii)def reverse_words(string):
    words = string.split()
    reversed_string = ' '.join(reversed(words))
    return reversed_string


iii)def display_multiple_times(string, times):
    return string * times


iv)def concatenate_strings(str1, str2):
    return str1 + str2


v)str1 = "South India"
india = str1[6:]


if __name__ == "__main__":
    #  1
    string = "Hello, World!"
    length = calculate_length(string)
    print(f"Length of the string is: {length}")

    # 2
    reversed_string = reverse_words(string)
    print(f"Reversed string: {reversed_string}")

    # 3
    repeated_string = display_multiple_times(string, 3)
    print(f"String repeated 3 times: {repeated_string}")

    #  4
    str2 = " is amazing!"
    concatenated_string = concatenate_strings(string, str2)
    print(f"Concatenated string: {concatenated_string}")

    # 5
    print(f"Sliced string: {india}")

Length of the string is: 13
Reversed string: World! Hello,
String repeated 3 times: Hello, World!Hello, World!Hello, World!
Concatenated string: Hello, World! is amazing!
Sliced string: India

# 6. Perform the following:

1. Creating the directory.
2. Accessing values and keys in the Dictionary.
3. Updating the dictionary using a function.
4. Clear and delete the dictionary values.

In [20]:
import os


i)directory_name = "my_directory"


if not os.path.exists(directory_name):
    os.makedirs(directory_name)
    print(f"Directory '{directory_name}' created successfully.")
else:
    print(f"Directory '{directory_name}' already exists.") 
    
    

   
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}


print("Keys:")
for key in my_dict.keys():
    print(key)


print("\nValues:")
for value in my_dict.values():
    print(value)



     def update_dict(my_dict, key, value):
    my_dict[key] = value

  # Example usage
   update_dict(my_dict, 'key4', 'value4')
    
    
my_dict.clear()


if not bool(my_dict):
    print("Dictionary is empty.")
else:
    print("Dictionary is not empty.")

del my_dict

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 37)

In [21]:
import os


directory_name = "my_directory"

if not os.path.exists(directory_name):
    os.makedirs(directory_name)
    print(f"Directory '{directory_name}' created successfully.")
else:
    print(f"Directory '{directory_name}' already exists.")

    my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}


print("Keys:")
for key in my_dict.keys():
    print(key)


print("\nValues:")
for value in my_dict.values():
    print(value)

def update_dict(my_dict, key, value):
    my_dict[key] = value


update_dict(my_dict, 'key4', 'value4')


my_dict.clear()

if not bool(my_dict):
    print("Dictionary is empty.")
else:
    print("Dictionary is not empty.")

del my_dict

Directory 'my_directory' created successfully.
Keys:

NameError: name 'my_dict' is not defined

In [22]:

import os


i)directory_path = "my_directory"


if not os.path.exists(directory_path):
    # Create the directory
    os.mkdir(directory_path)
    print(f"1. Created directory: {directory_path}")
else:
    print(f"1. Directory '{directory_path}' already exists.")


my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}


ii)print("2. Accessing values by keys:")
print("Name:", my_dict['name'])
print("Age:", my_dict['age'])
print("City:", my_dict['city'])


print("Accessing keys:")
keys = my_dict.keys()
print(list(keys))


iii)def update_dictionary(dictionary, key, value):
    dictionary[key] = value

update_dictionary(my_dict, 'occupation', 'Engineer')
print("\n3. Updated dictionary:", my_dict)


iv)my_dict.clear()
print("\n4. Cleared dictionary:", my_dict)


del my_dict

1. Directory 'my_directory' already exists.
2. Accessing values by keys:
Name: John
Age: 30
City: New York
Accessing keys:
['name', 'age', 'city']

3. Updated dictionary: {'name': 'John', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

4. Cleared dictionary: {}

# 7  Python Program to insert a number to any position in a list

In [23]:
def insert_number_to_position(lst, number, position):
    lst.insert(position, number)
    return lst


my_list = [1, 2, 3, 4, 5]
new_number = 6
insert_position = 2

result_list = insert_number_to_position(my_list, new_number, insert_position)
print(f"The modified list is: {result_list}")

The modified list is: [1, 2, 6, 3, 4, 5]

# 8. Python program to delete an element froma list by index.

In [24]:
my_list = [10, 20, 30, 40, 50]


index_to_delete = 2


if index_to_delete >= 0 and index_to_delete < len(my_list):
    
    deleted_element = my_list.pop(index_to_delete)
    print(f"Element {deleted_element} deleted successfully.")
else:
    print("Invalid index.")


print(my_list)

Element 30 deleted successfully.
[10, 20, 40, 50]

# 9.Write a program to display a number from 1 to 100.

In [25]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10 Write a Python program to find the sum of all items in a tuple.

In [26]:
def sum_of_tuple_items(my_tuple):
    total = sum(my_tuple)
    return total


my_tuple = (1, 2, 3, 4, 5)
result = sum_of_tuple_items(my_tuple)
print(f"The sum of the tuple {my_tuple} is: {result}")

The sum of the tuple (1, 2, 3, 4, 5) is: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root.

Eg. dict=('Square': function for squaring, 'Cube': function for cube, 'Squareroot": function for square root)

Pass the values (input from the user) to the functions in the dictionary respectively.                          
  Then add the outputs of each function and print it.

In [11]:
# Define the lambda functions and store them in a dictionary
math_functions = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'SquareRoot': lambda x: x**0.5
}

# Get user input
number = float(input("Enter a number: "))

# Apply each function and store the results in a list
results = {func_name: func(number) for func_name, func in math_functions.items()}

# Add the outputs of each function
total = sum(results.values())

# Print the results
for func_name, result in results.items():
    print(f"The result of {func_name} is: {result}")

print(f"\nThe total sum of all results is: {total}")

Enter a number: 64
The result of Square is: 4096.0
The result of Cube is: 262144.0
The result of SquareRoot is: 8.0

The total sum of all results is: 266248.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls=['hello', 'Dear', 'hOw', 'ARe', 'You']

In [30]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

result = [word for word in ls if word[1].isupper()]

print(result)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they weigh on the moon. (use map and lambda function) 

Formula: (wEarth * GMoon)/GEarth

1. #Weight of people in kg
    WeightOnEarth = {'john':45, 'Shelly':65, 'Marry':35}
2. #Gravitational force on the moon is 1.622 m/s2
    GMoon = 1.622
3. #Gravitational force on the earth is 9.81 m/s2
    GEarth = 9.81

In [1]:
WeightOnEarth = {'john':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81


calculate_weight_on_moon = lambda weight: (weight * GMoon) / GEarth


WeightOnMoon = dict(map(lambda item: (item[0], calculate_weight_on_moon(item[1])), WeightOnEarth.items()))


print("Weight on Moon:")
for person, weight in WeightOnMoon.items():
    print(f"{person}: {weight} kg")

Weight on Moon:
john: 7.440366972477065 kg
Shelly: 10.747196738022426 kg
Marry: 5.786952089704383 kg

# Control Structure

# 2. Write a Python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, DA. Add these components to calculate the Gross Salary. Also deduct 10% of salary from the gross salary to be paid as a tax and display gross minus tax as net salary.

In [35]:
def calculate_salary(basic_salary, hra, ta, da):
    gross_salary = basic_salary + hra + ta + da
    tax = 0.10 * gross_salary
    net_salary = gross_salary - tax
    return gross_salary, net_salary

basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

gross_salary, net_salary = calculate_salary(basic_salary, hra, ta, da)

print(f"\nGross Salary: {gross_salary}")
print(f"Tax (10%): {0.10 * gross_salary}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 50000
Enter HRA: 10000
Enter TA: 5000
Enter DA: 8000

Gross Salary: 73000.0
Tax (10%): 7300.0
Net Salary: 65700.0

# 3 Write a Python program to search for a given string in the list

In [37]:
def search_string_in_list(string_to_search, input_list):
  
    indices = []

    
      for i, item in enumerate(input_list):
        
        if string_to_search in item:
           
            indices.append(i)

    return indices

my_list = ['apple', 'banana', 'cherry', 'apple', 'date', 'kiwi', 'apple']
search_string = 'apple'

result_indices = search_string_in_list(search_string, my_list)

if result_indices:
    print(f'The string "{search_string}" is found at indices:', result_indices)
else:
    print(f'The string "{search_string}" is not found in the list.')

The string "apple" is found at indices: [0, 3, 6]

# 4. Write a Python function that accepts a string and calculates the number of upper and lower case letters.

In [38]:
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0

    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

input_string = "Hello World"
upper, lower = count_upper_lower(input_string)
print(f"Number of uppercase letters: {upper}")
print(f"Number of lowercase letters: {lower}")

Number of uppercase letters: 2
Number of lowercase letters: 8

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [39]:
def sum_odd_even(start, end):
    odd_sum = 0
    even_sum = 0

    for num in range(start, end + 1):
        if num % 2 == 0:
            even_sum += num
        else:
            odd_sum += num

    return odd_sum, even_sum

start_num = 12
end_num = 37

odd_sum, even_sum = sum_odd_even(start_num, end_num)

print(f"Sum of odd numbers between {start_num} and {end_num}: {odd_sum}")
print(f"Sum of even numbers between {start_num} and {end_num}: {even_sum}")

Sum of odd numbers between 12 and 37: 325
Sum of even numbers between 12 and 37: 312

# 6 Write a Python program to print the table of any number.

In [40]:
def print_table(number, range_limit):
    for i in range(1, range_limit + 1):
        result = number * i
        print(f"{number} x {i} = {result}")


number = int(input("Enter the number for the table: "))
range_limit = int(input("Enter the range for the table: "))


print_table(number, range_limit)

Enter the number for the table: 5
Enter the range for the table: 10
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7. Write a Python Program to sum the first 10 prime numbers.

In [41]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return sum(primes)


sum_of_primes = sum_first_n_primes(10)

print(f"The sum of the first 10 prime numbers is: {sum_of_primes}")

The sum of the first 10 prime numbers is: 129

# 8. Write a Python Program to implement airthametic operations using nested if statements.

In [43]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")

if operator == "+":
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operator == "-":
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operator == "*":
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operator == "/":
   
    if num2 != 0:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
    else:
        print("Error: Division by zero is not allowed")
else:
    print("Invalid operator. Please enter +, -, *, or /.")

Enter the first number: 8
Enter the second number: 4
Enter an operator (+, -, *, /): *
8.0 * 4.0 = 32.0

# 9. Write a Python Program to Take the temperature in celcius and convert it to Fahrenheit.

In [44]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

celsius = float(input("Enter the temperature in Celsius: "))

fahrenheit = celsius_to_fahrenheit(celsius)

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter the temperature in Celsius: 92
92.0 degrees Celsius is equal to 197.6 degrees Fahrenheit.

# 10. Write a Python Program to find the max and min number in a list without using an inbuilt function.

In [45]:
def find_max_min(numbers):
    if not numbers:
        return None, None

    max_num = numbers[0]
    min_num = numbers[0]

    for num in numbers:
        if num > max_num:
            max_num = num
        if num < min_num:
            min_num = num

    return max_num, min_num

numbers = [4, 7, 1, 9, 2, 5, 8, 3, 6]
max_num, min_num = find_max_min(numbers)

if max_num is not None and min_num is not None:
    print(f"Maximum number: {max_num}")
    print(f"Minimum number: {min_num}")
else:
    print("List is empty.")

Maximum number: 9
Minimum number: 1

# 11. Write a Python Program to print out the number of seconds in 30 day month 30 days, 24 hours in a day, 60 mins per day, 60 second per min.

In [46]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"The number of seconds in a 30-day month is: {total_seconds} seconds.")

The number of seconds in a 30-day month is: 2592000 seconds.

# 12. Write a Python Program to print out the number of seconds in a year.

In [47]:
def seconds_in_year():
    days_in_year = 365
    hours_in_day = 24
    minutes_in_hour = 60
    seconds_in_minute = 60

    seconds_in_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
    return seconds_in_year

result = seconds_in_year()
print(f"There are approximately {result} seconds in a year.")

There are approximately 31536000 seconds in a year.

# 13. A high speed train can travel at an avg speed of 150 mph, how long will it take a train travelling at this speed to travel from Londen to Glasgow which is 414 miles away.

In [48]:
def travel_time(distance, speed):
    time = distance / speed
    return time

distance = 414  
speed = 150  

time_taken = travel_time(distance, speed)

print(f"It will take approximately {time_taken:.2f} hours to travel from London to Glasgow.")

It will take approximately 2.76 hours to travel from London to Glasgow.

# 14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to variable. The program should then print out the total hours that you spend in school from year 7 to year 11. if each day you spend 6 hours in school day_in_each_school_year = 192.

In [49]:
days_in_each_school_year = 192

start_year = 7
end_year = 11

hours_per_day = 6

total_hours = (end_year - start_year + 1) * days_in_each_school_year * hours_per_day

print(f"Total hours spent in school from year {start_year} to year {end_year}: {total_hours}")

Total hours spent in school from year 7 to year 11: 5760

# 15. If the ages of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and the youngest of the three.

In [50]:
def find_elder_and_younger(ram_age, sam_age, khan_age):
    ages = {'Ram': ram_age, 'Sam': sam_age, 'Khan': khan_age}

    eldest = max(ages, key=ages.get)
    youngest = min(ages, key=ages.get)

    return eldest, youngest

ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest, youngest = find_elder_and_younger(ram_age, sam_age, khan_age)

print(f"The eldest person is {eldest} with age {globals()[f'{eldest.lower()}_age']}.")
print(f"The youngest person is {youngest} with age {globals()[f'{youngest.lower()}_age']}.")

Enter Ram's age: 36
Enter Sam's age: 22
Enter Khan's age: 45
The eldest person is Khan with age 45.
The youngest person is Sam with age 22.

# 16.Write a python program to rotate a list by the right n times with and without slicing technique.

In [2]:
def rotate_right_without_slicing(arr, n):
    for _ in range(n):
        last_element = arr[-1]
        for i in range(len(arr)-1, 0, -1):
            arr[i] = arr[i-1]
        arr[0] = last_element
    return arr

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right_without_slicing(original_list, 2)
print(f"Original List: {original_list}")
print(f"Rotated List: {rotated_list}")

Original List: [4, 5, 1, 2, 3]
Rotated List: [4, 5, 1, 2, 3]

In [3]:
def rotate_right_with_slicing(arr, n):
    return arr[-n:] + arr[:-n]

# Example usage:
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right_with_slicing(original_list, 2)
print(f"Original List: {original_list}")
print(f"Rotated List: {rotated_list}")

Original List: [1, 2, 3, 4, 5]
Rotated List: [4, 5, 1, 2, 3]

# 1. Write a python program to find the first N prime Numbers

In [52]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def find_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes


N = int(input("Enter the number of primes to find: "))


prime_numbers = find_primes(N)


print(f"The first {N} prime numbers are:")
print(prime_numbers)

Enter the number of primes to find: 10
The first 10 prime numbers are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# 17. Write a python program to print the below pattern

1 
1 1 
1  2 1 
1  3 3 1
1  4 6 4  1
1  5 10 10 5 1
1  6 15  20 15 6 1

In [7]:
def print_pattern(n):
    for i in range(n):
        coef = 1
        print("1", end=" ")

        for j in range(1, i+1):
            coef = coef * (i - j + 1) // j
            print(coef, end=" ")

        print("")


n = 7
print_pattern(n)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
# 17. Write a python program to print the below pattern

* 
*   * 
*  *   * 
*  *   *   * 
*  *  *    *   *

In [10]:
def print_pattern(n):
    for i in range(n):
        for j in range(i+1):
            if j == i and i > 1:
                print("*", end="   ")
            else:
                print("*", end="  ")
        print("")

# Example usage:
n = 5
print_pattern(n)

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [ ]:
      * 
     * * 
    * * * 
   * * * * 
  * * * * * 
 * * * * * * 
* * * * * * *

In [12]:
rows = 7

for i in range(rows):
    print(" "*(rows-i-1) + "* "*(i+1))

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [ ]:
p
py
pyt
pyth
pytho
python

In [13]:
word = "python"

for i in range(1, len(word) + 1):
    print(word[:i])

p
py
pyt
pyth
pytho
python